<app-index></app-index>

<div class="container align-content-center">
  <form  [formGroup]="edit_userform" (ngSubmit)="onSubmit()">
    <h1><p> Cập nhật thông tin</p>
    </h1>
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Họ" class="form-control" formControlName="firstname">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Tên" class="form-control" formControlName="lastname">
          </mat-form-field>
        </td>
      </tr>
    </table>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Thành phố" class="form-control" formControlName="city">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Quận" class="form-control" formControlName="state">
          </mat-form-field>
        </td>


      </tr>

    </table>

    <button color="primary" type="submit">Save</button>
  </form>

</div>

<app-footer></app-footer>
