<div class="footer align-items-lg-end">
  <div class="footer1">
    <div class="container-fluid">

      <div class="container ">
        <div class="row">
          <div class="col-sm-4">
            <h2>About Us</h2>
            <div class="myframegmap">
              <iframe width="171" height="108" id="gmap_canvas"
                      src="https://maps.google.com/maps?q=codegym&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
            <br>
          </div>
          <div class="col-sm-4">
            <h2>Home</h2>
            <p>
              <i class="fa fa-home"></i>    <a href="#"> Home</a><br>
              <i class="fa fa-user-o"></i>    <a href="#"> About Us</a><br>
              <i class="fa fa-map-marker"></i>    <a href="#"> Contact Us</a><br>
              <i class="fa fa-briefcase"></i>    <a href="#"> Services</a><br>
              <i class="fa fa-question-circle"></i>    <a href="#"> Term & Conditions</a><br><br>


            </p>


          </div>
          <div class="col-sm-4 ">
            <h2>Contact Us</h2>
            <p>

              <i class="fa fa-phone"></i>    <a href="tel:0123456789"> +0123456789</a><br>
              <i class="fa fa-envelope"></i>    <a href="mailto:abc@abc.com"> codegym.vn@gmail.com</a><br>
              <i class="fa fa-map-marker"></i>    CodeGym, Văn Phòng CodeGym
            </p>

            <br>
          </div>
        </div>
        <div class="clear30"></div>
      </div>
    </div>
  </div>


  <div class="footer2">
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="clear30"></div>
          <div class="col-sm-12 text-center"><p><strong>copyright © 2019-2020 All right reserved.</strong></p></div>
          <div class="clear30"></div>
        </div>

      </div>

    </div>
  </div>
</div>
