<app-index></app-index>
<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt=""/>
          <div class="file btn btn-lg btn-primary">
            Change Photo
            <input type="file" name="file"/>
          </div>
          <div class="col-md-12">
            <div class="profile-work">
              <p>Social network</p>
              <a href="">Facebook</a><br/>
              <a href="">Twitter</a><br/>
              <a href="">ZALO</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5>
            {{user.username}}
          </h5>
          <h6>

          </h6>
          <p class="proile-rating">RANKINGS : <span>8/10</span></p>
        </div>
        <div class="row">

          <div class="col-md-12">
            <mat-tab-group>
              <mat-tab label="Thông tin người dùng">
                <div class="row">
                  <div class="col-md-6">
                    <label>Name :</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{user.username}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>FirstName:</label>
                  </div>
                  <div class="col-md-6" *ngIf="user.firstname != null">
                    <p>{{user.firstname}}</p>
                  </div>
                  <div class="col-md-6" *ngIf="user.firstname == null">
                    <p>Chua cap nhat</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Last Name:</label>
                  </div>
                  <div class="col-md-6" *ngIf="user.lastname != null">
                    <p>{{user.lastname}}</p>
                  </div>
                  <div class="col-md-6" *ngIf="user.firstname == null" >
                    <p>Chua cap nhat</p>
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-6">
                    <label>City:</label>
                  </div>
                  <div class="col-md-6" *ngIf="user.city != null">
                    <p>{{user.city}}</p>
                  </div>
                  <div class="col-md-6" *ngIf="user.firstname == null" >
                    <p>Chua cap nhat</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>State:</label>
                  </div>
                  <div class="col-md-6" *ngIf="user.state != null">
                    <p>{{user.city}}</p>
                  </div>
                  <div class="col-md-6" *ngIf="user.firstname == null">
                    <p>Chua cap nhat</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Phone:</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{user.phone}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Email :</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{user.email}}</p>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Thay đổi Mật Khẩu">
                <div class="col-md-12">
                  <form [formGroup]="update_passwordForm" (ngSubmit)="updatePassword()">
                    <div class="row">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Mật khẩu mới" formControlName="password"  class="form-control"  name="password">
                      </mat-form-field>
                    </div>
                    <div class="row">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Nhập lại mật khẩu" class="form-control" formControlName="confirmPassword" name="confirmPassword">
                        <div *ngIf="update_passwordForm.hasError('passwordnotmatch')">
                          <p>Mật khẩu nhập lại phải giống nhau</p>
                        </div>
                      </mat-form-field>
                    </div>
                    <button mat-button type="submit">Cập nhật</button>


                  </form>

                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>

      </div>
      <div class="col-md-2">
        <button mat-raised-button color="primary" (click)="edit()">Cập nhật thông tin</button>
      </div>

    </div>

  </form>
</div>
