<form [formGroup]="userForm" (ngSubmit)="signup()">
  <div> error => console.log(error)
    <label>User error => console.log(error)
      <br>
      <input type="text" formControlName="user">
    </label>

  </div>
  <div *ngIf="userForm.get('user').invalid && userForm.get('user').untouched" style="color: blue">
  </div>
  <div>
    <label>password
      <br>
      <input type="text" formControlName="password">
    </label>

  </div>
  <div *ngIf="userForm.get('password').invalid && userForm.get('password').untouched" style="color: blue">
  </div>
  <div>
    <label>email
      <br>
      <input type="text" formControlName="email">
    </label>

  </div>
  <div *ngIf="userForm.get('email').invalid && userForm.get('email').untouched" style="color: blue">
  </div>
  <button type="submit">Submit</button>


</form>
