<div class="container-fluid bg-dark ">
  <div class="container">
    <div class="row text-light pt-3 pb-1">
      <div class="col-md-2">
        <img src="../../assets/img/logo600.png" style="height: 40px;width: 50px">
      </div>
      <div class="col-md-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="material-icons">search</i></span>
          </div>
          <input type="text" class="form-control" placeholder="nhap ten ca si,mv,bai hat"
                 aria-label="nhap ten ca si,mv,bai hat"
                 aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="col-md-2 offset-md-1"><i class="material-icons"> supervised_user_circle</i>
      <nav>
        <a routerLink="login"> Login </a>
      </nav>
      </div>
      <div class="col-md ml-1">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
    </div>

  </div>
</div>
