<div class="container">
  <div class="container-fluid bg-light">
    <div class="container">
      <div class="row text-light pt-3 pb-1">
        <div class="col-md-3">
          <img src="../../assets/img/customLogo.png" height="58" width="200"/>
          <!--        <img src="../../assets/img/logo600.png" style="height: 40px;width: 50px">-->
        </div>
        <div class="col-md-5">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="material-icons">search</i></span>
            </div>
            <input type="text" class="form-control" placeholder="nhập tên ca sĩ, bài hát hoặc mv"
                   aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="col-md-2 offset-md-1">
          <div *ngIf="!authService.logedIn()">
            <span class="input-group-text"><i class="material-icons"> supervised_user_circle</i>
          <a routerLink="login"> Đăng Nhập </a>
          </span>
          </div>
          <div class="user-container" *ngIf="authService.logedIn()">
            <mat-card class="title">{{currentName}}</mat-card>
            <div>
              <button class="user-button" mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon color="primary">more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>account_circle</mat-icon>
                  <a routerLink="userinfo">Thông tin người dùng</a>
                </button>
                <button mat-menu-item>
                  <mat-icon color="primary">library_add</mat-icon>
                  <a routerLink="createsong">Tạo bài hát</a>
                </button>
                <button mat-menu-item>
                  <mat-icon>library_music</mat-icon>
                  <a>Tạo playlist</a>
                </button>
                <button mat-button (click)="logout()" color="primary">Log Out</button>
              </mat-menu>

            </div>

          </div>
        </div>


      </div>


    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Trang chủ</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              #ZingChart
            </a>
            <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
              <div class="row">
                <div class="col-md-3">
                  <p><strong class="sub-menu-heading">#ZingChart</strong></p>
                  <p><a href="#">Bài Hát</a></p>
                  <p><a href="#">MV</a></p>
                </div>
                <div class="col-md-3">
                  <p><strong class="sub-menu-heading">TUẦN</strong></p>
                  <p><a href="#">Bài Hát</a></p>
                  <p><a href="#">MV</a></p>
                </div>
                <div class="col-md-3">
                  <p><strong class="sub-menu-heading">US-UK CHART</strong></p>
                  <p><a href="#">Bài Hát</a></p>
                  <p><a href="#">MV</a></p>
                </div>
                <div class="col-md-3">
                  <p><strong class="sub-menu-heading">K-POP CHART</strong></p>
                  <p><a href="#">Bài Hát</a></p>
                  <p><a href="#">MV</a></p>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              TOP100
            </a>
            <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
              <div class="row">
                <div class="col-md-3">
                  <p><strong class="sub-menu-heading">VIỆT NAM</strong></p>
                  <p><a href="#">Quê Hương</a></p>
                  <p><a href="#">Nhạc trữ tình</a></p>
                  <p><a href="#">Nhạc trẻ</a></p>
                  <p><a href="#">Nhạc Cách Mạng</a></p>
                  <p><a href="#">Rap/Hip-Hốp Việt</a></p>
                  <p><a href="#">Rock Việt</a></p>
                  <p><a href="#">Dance Việt</a></p>
                </div>
                <div class="col-md-3">
                  <p><strong class="sub-menu-heading">ÂU MỸ</strong></p>
                  <p><a href="#">Pop</a></p>
                  <p><a href="#">Rock</a></p>
                  <p><a href="#">Rap/Hip-Hôp</a></p>
                  <p><a href="#">Country</a></p>
                  <p><a href="#">R&B and soul</a></p>
                  <p><a href="#">audiophile</a></p>
                  <p><a href="#">Electronic/Dance</a></p>
                </div>
                <div class="col-md-3">
                  <p><strong class="sub-menu-heading">CHÂU Á</strong></p>
                  <p><a href="#">Hàn Quốc</a></p>
                  <p><a href="#">Nhật Bản</a></p>
                  <p><a href="#">Hoa Ngữ</a></p>
                </div>
                <div class="col-md-3">
                  <p><strong class="sub-menu-heading">HÒA TẤU</strong></p>
                  <p><a href="#">Classical</a></p>
                  <p><a href="#">Piano</a></p>
                  <p><a href="#">Guita</a></p>
                  <p><a href="#">Violin</a></p>
                  <p><a href="#">Cello</a></p>
                  <p><a href="#">Saxophone</a></p>
                  <p><a href="#">Nhạc Cụ Khác</a></p>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              CHỦ ĐỀ
            </a>
            <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
              <div class="row">
                <div class="col-md-3">
                  <p><strong class="sub-menu-heading">Đề Xuất</strong></p>
                  <p><a href="#">Nhạc Hot</a></p>
                  <p><a href="#">Những bài hít</a></p>
                  <p><a href="#">Nhạc Việt bất hủ</a></p>
                  <p><a href="#">K-POP HIT</a></p>
                  <p><a href="#">Nhạc Thúy Nga</a></p>
                </div>
                <div class="col-md-3">
                  <p><strong class="sub-menu-heading">THỂ LOẠI</strong></p>
                  <p><a href="#">EDM</a></p>
                  <p><a href="#">Acoustic</a></p>
                  <p><a href="#">Indie</a></p>
                  <p><a href="#">Nhạc Không lời</a></p>
                  <p><a href="#">Trữ Tình</a></p>
                  <p><a href="#">Bolero</a></p>
                </div>
                <div class="col-md-3">
                  <p><strong class="sub-menu-heading">TÂM TRẠNG</strong></p>
                  <p><a href="#">Những ngày mưa</a></p>
                  <p><a href="#">Tình Yêu</a></p>
                  <p><a href="#">Giai điệu buồn</a></p>
                  <p><a href="#">Âm nhạc thư giãn</a></p>
                  <p><a href="#">Validation</a></p>
                </div>
                <div class="col-md-3">
                  <p><strong class="sub-menu-heading">HOẠT ĐỘNG</strong></p>
                  <p><a href="#">Tâp trung</a></p>
                  <p><a href="#">Yo-ga</a></p>
                  <p><a href="#">Cafe</a></p>
                  <p><a href="#">Weekend</a></p>
                  <p><a href="#">Party</a></p>
                  <p><a href="#">Du lịch</a></p>
                </div>
              </div>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              MV
            </a>
            <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
              <div class="row">
                <div class="col-md-3">
                  <p><strong class="sub-menu-heading">VIỆT NAM</strong></p>
                  <p><a href="#">Quê Hương</a></p>
                  <p><a href="#">Nhạc trữ tình</a></p>
                  <p><a href="#">Nhạc trẻ</a></p>
                  <p><a href="#">Nhạc Cách Mạng</a></p>
                  <p><a href="#">Rap/Hip-Hốp Việt</a></p>
                  <p><a href="#">Rock Việt</a></p>
                  <p><a href="#">Dance Việt</a></p>
                </div>
                <div class="col-md-3">
                  <p><strong class="sub-menu-heading">ÂU MỸ</strong></p>
                  <p><a href="#">Pop</a></p>
                  <p><a href="#">Rock</a></p>
                  <p><a href="#">Rap/Hip-Hôp</a></p>
                  <p><a href="#">Country</a></p>
                  <p><a href="#">R&B and soul</a></p>
                  <p><a href="#">audiophile</a></p>
                  <p><a href="#">Electronic/Dance</a></p>
                </div>
                <div class="col-md-3">
                  <p><strong class="sub-menu-heading">CHÂU Á</strong></p>
                  <p><a href="#">Hàn Quốc</a></p>
                  <p><a href="#">Nhật Bản</a></p>
                  <p><a href="#">Hoa Ngữ</a></p>
                </div>
                <div class="col-md-3">
                  <p><strong class="sub-menu-heading">HÒA TẤU</strong></p>
                  <p><a href="#">Classical</a></p>
                  <p><a href="#">Piano</a></p>
                  <p><a href="#">Guita</a></p>
                  <p><a href="#">Violin</a></p>
                  <p><a href="#">Cello</a></p>
                  <p><a href="#">Saxophone</a></p>
                  <p><a href="#">Nhạc Cụ Khác</a></p>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              ALBUM
            </a>
            <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
              <div class="row">
                <div class="col-md-3">
                  <p><strong class="sub-menu-heading">VIỆT NAM</strong></p>
                  <p><a href="#">Quê Hương</a></p>
                  <p><a href="#">Nhạc trữ tình</a></p>
                  <p><a href="#">Nhạc trẻ</a></p>
                  <p><a href="#">Nhạc Cách Mạng</a></p>
                  <p><a href="#">Rap/Hip-Hốp Việt</a></p>
                  <p><a href="#">Rock Việt</a></p>
                  <p><a href="#">Dance Việt</a></p>
                </div>
                <div class="col-md-3">
                  <p><strong class="sub-menu-heading">ÂU MỸ</strong></p>
                  <p><a href="#">Pop</a></p>
                  <p><a href="#">Rock</a></p>
                  <p><a href="#">Rap/Hip-Hôp</a></p>
                  <p><a href="#">Country</a></p>
                  <p><a href="#">R&B and soul</a></p>
                  <p><a href="#">audiophile</a></p>
                  <p><a href="#">Electronic/Dance</a></p>
                </div>
                <div class="col-md-3">
                  <p><strong class="sub-menu-heading">CHÂU Á</strong></p>
                  <p><a href="#">Hàn Quốc</a></p>
                  <p><a href="#">Nhật Bản</a></p>
                  <p><a href="#">Hoa Ngữ</a></p>
                </div>
                <div class="col-md-3">
                  <p><strong class="sub-menu-heading">HÒA TẤU</strong></p>
                  <p><a href="#">Classical</a></p>
                  <p><a href="#">Piano</a></p>
                  <p><a href="#">Guita</a></p>
                  <p><a href="#">Violin</a></p>
                  <p><a href="#">Cello</a></p>
                  <p><a href="#">Saxophone</a></p>
                  <p><a href="#">Nhạc Cụ Khác</a></p>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown6" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              NGHỆ SỸ
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">VIỆT NAM</a>
              <a class="dropdown-item" href="#">ÂU MỸ</a>
              <a class="dropdown-item" href="#">HÀN QUỐC</a>
            </div>
          </li>

        </ul>

      </div>
    </nav>
  </div>
</div>

